<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Location" value="C:\Users\Marcel\Documents\Visual Studio 2015\Projects\CruzAzul\CruzAzul\"/>
        <add key="AccessNumber" value=""/>
        <add key="ErrorLog" value=""/>
        <add key="Timer" value="60000"/>
        <add key="Connection" value="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=209.208.26.124)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SPECTRA)));User ID=SPECTRA;Password=ARTCEPS"/>
    </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
